.all {
  background-color: #f1d6dd;
}

.top-bar {
background-color: transparent; 
position: fixed;
overflow: hidden;
top: 0;
width: 100%;
border-radius: 14px;
z-index: 10;
}

.top-bar a {
float: left;
display: block;
color: #1B0202;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.top-bar a:hover {
background-color: #F4CCCC;
border-radius: 14px;
}

.home:hover {
filter: brightness(0) invert(1);
border-radius: 20px;
}

.s:hover {
filter: brightness(0) invert(1);
border-radius: 20px;
}

.d:hover {
filter: brightness(0) invert(1);
border-radius: 20px;
}

.f:hover {
filter: brightness(0) invert(1);
border-radius: 20px;
}

.g:hover {
filter: brightness(0) invert(1);
border-radius: 20px;
}

.h:hover {
filter: brightness(0) invert(1);
border-radius: 20px;
}

.top-bar-right {
float: right;
}

.frontcover {
  display: flex;
  justify-content: center;
  position: relative;
  animation: fadeIn 1.4s;
  transition: background-image 0.5s ease-in-out;
  animation-timing-function: linear;
  background-size: cover;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  40% {opacity: 0.2; transform:scale(1); top: 50px; left: -50px; }
  70% {opacity: 1; }
  100% {transform:scale(1.3); top: 80px; left: -80px; }
}

/*
.frontcover:hover {
  cursor: pointer;
  content: url('folder\ open.png');
  display: flex;
  justify-content: center;
  width: 750px;
  margin: 0 auto;
} 
  
4 frames fading, 2 waiting, then 4 frams getting bigger*/

.pen {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 14px;
  overflow: hidden;
  top: 230px;
  left: 300px;
  z-index: 2;
  animation: fadeBitch 2s;
  transition: ease-in-out;
  animation-timing-function: linear;
  background-size: cover;
  animation-fill-mode: forwards;
}

@keyframes fadeBitch {
  0% { opacity: 0; }
  40% { opacity: 0; }
  60% {opacity: 0.2;}
  100% { opacity: 1; }
}

.writing {
  justify-content: center;
  padding-left: 70px;
}

.writing2 {
  justify-content: center;
  max-width: 300px;
  padding-right: 30px;
}