.body {
    background-color: #EDE8D0;
}

.top-bar {
  background-color: #C28E88;
  overflow: hidden; /* Clear floats */
  position: fixed; /* or absolute, depending on desired behavior */
  top: 0;
  width: 100%;
  border-radius: 14px;
}

.top-bar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-bar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 14px;
}

  .top-bar-right {
  float: right;
}